@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Sora';
	font-weight: 600;
	src: url('/fonts/Sora-Bold.ttf');
}

@font-face {
	font-family: 'Sora';
	font-weight: 300;
	src: url('/fonts/Sora-Regular.ttf');
}
