@tailwind base;
@tailwind components;
@tailwind utilities;

div.primary {
	--background: #fff !important;
	--hover-background: rgba(255, 255, 255, 0.7) !important;
	--active-background: rgba(255, 255, 255, 0.7) !important;
}
